html {background: url(../images/bg.png) repeat ; min-height: 100%; box-sizing: border-box; font: 12px/2 Helvetica Neue, Helvetica, Arial, sans-serif; color: #888; }
::-webkit-input-placeholder { color: #bbb; }

.menu-main {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  font-size: 30px;
  text-align: center;
  position: relative;
  
}

.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  padding: 10px 15px;
  font-family: 'PT Sans Caption', sans-serif;
  color: #a5a0a0;
  transition: .3s linear;
  position: relative;
  display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: rgb(53, 167, 110) #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

#ram {background-image: url(../images/home_slider.jpg) ; min-height: 100%;
    margin: auto;
    margin-top: 25px;
 width: 1300px;	height: 650px; /* Размеры */
  
 outline: 2px solid #000; /* Чёрная рамка */
 border: 3px solid #fff; /* Белая рамка */
 border-radius: 10px; /* Радиус скругления */
}

#turkey {background: url(../images/Turtsiya13345.jpg) ; background-size: cover;; min-height: 100%;
  margin: auto;
  margin-top: 25px;
width: 1300px;	height: 650px; /* Размеры */

outline: 2px solid #000; /* Чёрная рамка */
border: 3px solid #fff; /* Белая рамка */
border-radius: 10px; /* Радиус скругления */
}

a.rollover {
  
    background: url(../images/home_slider.jpg); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 250px; /* Ширина рисунка */
    height: 220px; /*  Высота рисунка */
   }
   a.rollover:hover {
    background: url(../images/bg.png); /* Путь к файлу с заменяемым рисунком  */
   }

   a.button24 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
  } 
  a.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
  a.button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

  input.button4 {
    margin-left: 90%;
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
  }
  input.button4:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
  }
  input.button4:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
  }
  @-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
  }
  @keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
  }

