html { background: url(../images/home_slider.jpg) repeat; min-height: 100%; box-sizing: border-box; font: 12px/2 Helvetica Neue, Helvetica, Arial, sans-serif; color: #888; }
::-webkit-input-placeholder { color: #bbb; }

#login { border-radius: 5px; margin: 120px auto; width: 300px; height: 1000px; }
#login h1 {  margin: 0; padding: 15px; border: 1px solid rgba(0,0,0,.3); border-radius: 5px 5px 0 0; font-size: 16px; text-align: center; color: #fff; text-shadow: 0 1px 1px rgba(0,0,0,.2); background-color: #3f7eb6; box-shadow: inset 0 1px rgba(255,255,255,.3); 
		; font-family:Tahoma;
}
